<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webapp.taskschedule.mapper.TaskRegistrationMapper">
    <insert id="insertTask" parameterType="com.webapp.taskschedule.entity.TaskEntity">
        INSERT INTO
           TASK(
               MEMBER_ID,
               TITLE,
               DETAIL,
               DEAD_LINE,
               REQUIRED_HOUR,
               REQUIRED_MINUTE
           ) VALUES (
               #{memberId},
               #{title},
               #{detail},
               #{deadLine},
               #{requiredHour},
               #{requiredMinute}
           )
    </insert>

</mapper>