<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webapp.taskschedule.mapper.TaskListMapper">
    <select id="findAllTasks" parameterType="com.webapp.taskschedule.entity.TaskEntity"
                              resultType="com.webapp.taskschedule.entity.TaskEntity">
        SELECT
           TASK_ID AS taskId,
           TITLE AS title,
           DETAIL AS detail,
           DEAD_LINE AS deadLine,
           REQUIRED_HOUR AS requiredHour,
           REQUIRED_MINUTE AS requiredMinute
        FROM
           TASK
        WHERE
           MEMBER_ID = #{memberId}
    </select>

    <select id="findTodaysTasks" parameterType="com.webapp.taskschedule.DaoData.TaskScheduleInputDaoData"
                                 resultType="com.webapp.taskschedule.DaoData.TaskScheduleOutputDaoData">
        SELECT
           TS.TITLE AS title,
           TS.DETAIL AS detail,
           TS.DEAD_LINE AS deadLine,
           TS.REQUIRED_HOUR AS requiredHour,
           TS.REQUIRED_MINUTE AS requiredMinute,
           SD.START_DATE_TIME AS startDateTime,
           SD.END_DATE_TIME AS endDateTime
        FROM
           SCHEDULE SD
        INNER JOIN
           TASK TS
        ON
           SD.TASK_ID = TS.TASK_ID
        WHERE
           TS.MEMBER_ID = #{memberId}
        AND
           TO_CHAR(SD.START_DATE_TIME, 'yyyyMMdd') = #{today}

    </select>

</mapper>