<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webapp.taskschedule.mapper.TaskRegistrationMapper">
    <insert id="insertTask" parameterType="com.webapp.taskschedule.entity.TaskEntity">
        INSERT INTO
           TASK(
               MEMBER_ID,
               TITLE,
               DETAIL,
               DEAD_LINE,
               REQUIRED_HOUR,
               REQUIRED_MINUTE
           ) VALUES (
               #{memberId},
               #{title},
               #{detail},
               #{deadLine},
               #{requiredHour},
               #{requiredMinute}
           )
    </insert>

    <select id="selectNewTaskId" resultType="_int">
        SELECT
            LAST_VALUE
        FROM
            TASK_TASK_ID_SEQ
    </select>

    <insert id="insertSchedule" parameterType="com.webapp.taskschedule.entity.ScheduleEntity">
        INSERT INTO
            SCHEDULE(
                TASK_ID,
                START_DATE_TIME,
                END_DATE_TIME
            ) VALUES (
                #{taskId},
                #{startDateTime},
                #{endDateTime}
            )
    </insert>

</mapper>