@charset "UTF-8";

body {
    /*background-color: #EEFFFF;*/
    background-color: #E6E6FA
}

a {
	/*リンクの下線を消す。*/
	text-decoration: none;
}

a:hover {
    /*リンクの下線を消す。*/
    text-decoration: none;
    color: navy;
}