<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">


<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/login.css">

<title>ログイン</title>
</head>
<body>

<h3 align="center">Taskule</h3>

<form th:action="@{/authenticate}" method="POST">
    <div th:if="${errMsg != null}" align="center">
        <span th:text="${errMsg}"></span><br>
    </div>

    <div class="container">
	    <div class="row">
	        <div class="col"></div>
	        <div class="col align-self-center login rounded shadow-sm">
    	        <div class="form-group">
    	            <label for="e-mail">メールアドレス</label>
    	            <input type="text" class="form-control" id="e-mail" name="mailAddress" placeholder="メールアドレス"/>
    	        </div>
    	        <div class="form-group">
    	            <label for="password">パスワード</label>
    	            <input type="password" class="form-control" id="password" name="password" placeholder="パスワード"/>
	            </div>
	            <div class="form-group">
	                <button type="submit" class="btn btn-primary btn-block">ログイン</button>
	            </div>
	            <div class="form-group">
	                <a href="./member-registration-form">新規登録</a>
	            </div>
	        </div>
	        <div class="col"></div>
	    </div>
    </div>

</form>
</body>
</html>